
<html>
<head>
    <title>Todo list</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <style>
        body {
            background-color: #D8D8D8;
        }

        h2 {
            color: rgb(0, 0, 0);
        }

        button {
            background-color: rgb(101, 95, 190);
            inline-size: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2> A Simple to do list app </h2>
        <form maction="/add_task" method="POST">
            <input type="text" name="newtask" palseholder="Enter new task  !!!">
            <br>
            <button> Add Task</button>
        </form>
        <br>
        <h2>Your Task Here!!!!</h2>
            <% if (locals.task) { %>
            <% for(var i = 0; i < task.length; i++){ %>
            <li>
                <input type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %>
            </li>
            <% } %>
            <% } %>
            <br>
    </div>
</body>
</html>